.contact {
  min-height: 55vh;
  background: #113354;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  
  
  padding: 50px 20px 50px;
}

.contact-container {
  width: 100%;
  
  max-width: 550px;
  text-align: center;
  border: 1px solid #ffffff;
  padding: 40px 40px;
  border-radius: 12px;

}

.contact-label {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #b9c9d8;
  margin-bottom: 18px;
}

.contact h1 {
  font-size: 64px;
  font-weight: 550;
  margin: 0 0 30px;
  letter-spacing: -1px;
}

.contact-message {
  font-size: 18px;
  color: #dce6ef;
  line-height: 1.7;
  margin-bottom: 30px;
}

.contact-message a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  margin-left: 6px;
}

.contact-message a:hover {
  text-decoration: underline;
}

/* Icons */

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}





.contact-icon {
  width: 52px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #ffffff;
  border-radius: 50%;

  color: #ffffff;
  font-size: 20px;

  text-decoration: none;

  transition: all 0.3s ease;
}

.contact-icon:hover {
  background: #ffffff;
  color: #113354;
  transform: translateY(-4px);
}

.contact-footer {
  display: flex;

  justify-content: space-between;

  margin-top: 370px;


  padding-top: 20px;
  

 

  color: #888383;

  font-family: "Courier New", monospace;

  font-size: 9px;

  letter-spacing: 2px;
}



/* Mobile */

@media (max-width: 600px) {
  .contact {
    min-height: 50vh;
    padding: 80px 20px 40px;
  }

  .contact h1 {
    font-size: 42px;
  }

  .contact-message {
    font-size: 15px;
  }

  .contact-message a {
    display: block;
    margin: 5px 0 0;
  }

  .contact-icon {
    width: 48px;
    height: 48px;
    font-size: 18px;
  }

  .contact-footer {
    margin-top: 50px;
  }
}