.home {
  position: relative;
  min-height: calc(100vh - 75px);
  width: 100%;
  background: #113354;
  color: #ffffff;
  overflow: visible;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #222;
}
/* =========================
   ANIMATED CODE BACKGROUND
========================= */

.code-background {
  position: absolute;
  inset: 0;

  overflow: hidden;

  pointer-events: none;

  z-index: 0;
}

.floating-code {
  position: absolute;

  color: #777;

  font-family: "Courier New", monospace;

  font-size: 13px;

  opacity: 0.13;

  white-space: nowrap;

  animation:
    floatCode 12s ease-in-out infinite,
    fadeCode 5s ease-in-out infinite alternate;
}


/* =========================
   DIFFERENT POSITIONS
========================= */

.code-1 {
  top: 8%;
  left: 5%;
  animation-delay: 0s;
}

.code-2 {
  top: 15%;
  left: 28%;
  animation-delay: 2s;
}

.code-3 {
  top: 7%;
  right: 8%;
  animation-delay: 4s;
}

.code-4 {
  top: 28%;
  left: 8%;
  animation-delay: 1s;
}

.code-5 {
  top: 35%;
  right: 5%;
  animation-delay: 3s;
}

.code-6 {
  top: 45%;
  left: 3%;
  animation-delay: 5s;
}

.code-7 {
  top: 52%;
  right: 15%;
  animation-delay: 2s;
}

.code-8 {
  top: 65%;
  left: 10%;
  animation-delay: 4s;
}

.code-9 {
  top: 72%;
  right: 5%;
  animation-delay: 1s;
}

.code-10 {
  top: 82%;
  left: 30%;
  animation-delay: 3s;
}

.code-11 {
  top: 90%;
  right: 25%;
  animation-delay: 5s;
}

.code-12 {
  top: 20%;
  right: 30%;
  animation-delay: 2s;
}

.code-13 {
  top: 40%;
  left: 25%;
  animation-delay: 4s;
}

.code-14 {
  top: 55%;
  left: 45%;
  animation-delay: 1s;
}

.code-15 {
  top: 70%;
  left: 40%;
  animation-delay: 3s;
}

.code-16 {
  top: 12%;
  left: 55%;
  animation-delay: 5s;
}

.code-17 {
  top: 32%;
  left: 60%;
  animation-delay: 2s;
}

.code-18 {
  top: 60%;
  right: 35%;
  animation-delay: 4s;
}

.code-19 {
  top: 80%;
  right: 45%;
  animation-delay: 1s;
}

.code-20 {
  top: 94%;
  left: 5%;
  animation-delay: 3s;
}

.code-21 {
  top: 25%;
  left: 75%;
  animation-delay: 5s;
}

.code-22 {
  top: 48%;
  right: 45%;
  animation-delay: 2s;
}

.code-23 {
  top: 75%;
  right: 15%;
  animation-delay: 4s;
}

.code-24 {
  top: 10%;
  left: 85%;
  animation-delay: 1s;

}

.code-25 {
  top: 88%;
  right: 8%;
  animation-delay: 3s;
}

@keyframes floatCode {

  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(15px, -12px);
  }

  100% {
    transform: translate(0, 0);
  }

}


@keyframes fadeCode {

  0% {
    opacity: 0.06;
  }

  50% {
    opacity: 0.16;
  }

  100% {
    opacity: 0.08;
  }

}


/* =========================
   BACKGROUND
========================= */

.home::before {
  content: "";

  position: absolute;
  inset: 0;

  background-image:
    radial-gradient(#333 1px, transparent 1px);

  background-size: 32px 32px;

  opacity: 0.18;
}


/* =========================
   CODE DECORATION
========================= */

.code {
  position: absolute;

  color: #777;

  font-family: monospace;
  font-size: 13px;

  opacity: 0.25;

  pointer-events: none;
}

.code-1 {
  top: 12%;
  left: 8%;
}

.code-2 {
  top: 30%;
  left: 42%;
}

.code-3 {
  bottom: 20%;
  right: 10%;
}

.code-4 {
  bottom: 32%;
  left: 30%;
}


/* =========================
   MAIN CONTAINER
========================= */

.home-container {
  position: relative;
  z-index: 2;

  width: 100%;
  max-width: 1400px;

  margin: auto;

  padding: 80px 8%;

  display: grid;

  grid-template-columns: 1.1fr 0.9fr;

  align-items: center;

  gap: 80px;
}


/* =========================
   LEFT CONTENT
========================= */

.home-content {
  max-width: 700px;
}

.hello {
  color: #eae6e6;

  font-family: monospace;

  letter-spacing: 4px;

  font-size: 14px;

  margin-bottom: 10px;
}


.home-content h1 {
  font-size: clamp(70px, 9vw, 150px);

  line-height: 0.85;

  margin: 0;

  font-weight: 600;

  letter-spacing: -5px;
}


.home-content h2 {
  font-size: clamp(45px, 6vw, 90px);

  line-height: 1;

  margin: 15px 0;

  font-weight: 300;

  color: #e9e2e2;

  letter-spacing: -3px;
}


.role {
  font-size: 25px;

  color: #f9f7f7;

  margin: 25px 0 15px;
}


.description {
  max-width: 600px;

  color: #f0eaea;

  line-height: 1.7;

  font-size: 16px;
}

.skills-marquee {
  width: 100%;
  overflow: hidden;
  
  padding: 14px 0;
  background: #113354;
}

.skills-track {
  display: flex;
  width: max-content;
  white-space: nowrap;
  animation: scrollSkills 25s linear infinite;
}

.skills-track span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f6f0f0;
  margin-right: 35px;
}

/* Right → left movement */
@keyframes scrollSkills {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


/* =========================
   BUTTONS
========================= */

.home-buttons {
  display: flex;

  gap: 18px;

  margin-top: 35px;
}


.primary-btn,
.secondary-btn {
  display: inline-block;

  padding: 16px 30px;

  text-decoration: none;

  font-weight: 600;

  transition: 0.3s;
}


.primary-btn {
  background: #b9c2e7;

  color: #000;

  border: 1px solid #fff;
}


.primary-btn:hover {
  background: #000;

  color: #fff;
}


.secondary-btn {
  border: 1px solid #555;

  color: #fff;
}


.secondary-btn:hover {
  border-color: #fff;
}


/* =========================
   SOCIAL LINKS
========================= */

.social-links {
  display: flex;

  gap: 12px;

  margin-top: 35px;
}


.social-links a {
  width: 45px;
  height: 45px;

  display: flex;

  align-items: center;
  justify-content: center;

  border: 1px solid #333;

  border-radius: 50%;

  color: #aaa;

  text-decoration: none;

  font-size: 13px;

  font-weight: 600;

  transition: 0.3s;
}


.social-links a:hover {
  border-color: #fff;

  color: #fff;

  transform: translateY(-3px);
}


/* =========================
   IMAGE
========================= */
.home-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-left: 50;
  margin-right: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  border: none;
  background: transparent;
}

.image-box img {
  width: 105%;
  height: 105%;
  filter: grayscale(100%);
  transition: 0.5s ease;
}

.image-box:hover img {
  filter: grayscale(0%);
  transform: scale(1.03);
}
/* =========================
   MOBILE RESPONSIVE
========================= */

@media (max-width: 600px) {

  .home {
    min-height: auto;
    width: 100%;
    overflow: hidden;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 20px 35px;
    gap: 25px;
  }

  /* LEFT CONTENT */

  .home-content {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .hello {
    font-size: 11px;
    letter-spacing: 2.5px;
    margin-bottom: 10px;
  }

  .home-content h1 {
    font-size: clamp(48px, 16vw, 65px);
    line-height: 0.9;
    letter-spacing: -3px;
    word-break: normal;
  }

  .home-content h2 {
    font-size: clamp(32px, 11vw, 45px);
    line-height: 1;
    letter-spacing: -2px;
    margin: 12px 0;
  }

  .role {
    font-size: 18px;
    line-height: 1.4;
    margin: 16px 0 10px;
  }

  .description {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 1.6;
  }

  /* BUTTONS */

  .home-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 22px;
  }

  .primary-btn,
  .secondary-btn {
    width: 100%;
    padding: 13px 20px;
    text-align: center;
    font-size: 14px;
  }

  /* SOCIAL LINKS */

  .social-links {
    justify-content: center;
    margin-top: 22px;
    gap: 10px;
  }

  .social-links a {
    width: 42px;
    height: 42px;
    font-size: 12px;
  }

  /* IMAGE */

  .home-image-wrapper {
    width: 100%;
    max-width: 280px;
    margin: 5px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-box {
    width: 260px;
    height: 260px;
    aspect-ratio: 1 / 1;
  }

  .image-box img {
    width: 105%;
    height: 105%;
  }

  /* CODE BACKGROUND */

  .floating-code {
    font-size: 9px;
    opacity: 0.08;
  }

  .code-11,
  .code-12,
  .code-16,
  .code-17,
  .code-19,
  .code-21,
  .code-22,
  .code-24 {
    display: none;
  }
}


/* =========================
   SMALL MOBILE
========================= */

@media (max-width: 400px) {

  .home-container {
    padding: 25px 16px 30px;
    gap: 20px;
  }

  .home-content h1 {
    font-size: 48px;
  }

  .home-content h2 {
    font-size: 34px;
  }

  .role {
    font-size: 17px;
  }

  .description {
    font-size: 13px;
  }

  .home-image-wrapper {
    max-width: 240px;
    margin-top: 0;
  }

  .image-box {
    width: 230px;
    height: 230px;
  }
}